<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}roy00227-site{% endblock %}</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" type="image/x-icon" href="static/favicon.ico">
<link rel="shortcut icon" href="static/favicon.ico">
<link rel="apple-touch-icon" href="static/android-chrome-192x192.png">
<link rel="manifest" href="static/site.webmanifest">

</head>
<body>
  <header>
    <div class="container">
      <h1>roy00227-site</h1>
    </div>
  </header>

  <main class="container">
    {% block content %}
    <!-- 子テンプレートがここに差し込まれる -->
    {% endblock %}
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 roy00227 | <a href="index.html">トップページに戻る</a></p>
    </div>
  </footer>
</body>
</html>
